@font-face {
  font-family: 'fontt';
  src: url(fonts/FuturaCondensedMedium.ttf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  height: 100%;
  width: 100%;
  background-color: #BDC6FF;
  font-family: "fontt", sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}

nav {
  background-color: #897DFF;
  color: #897DFF;
  text-align: left;
  width: 100%;
  height: 120px;
  box-shadow: #897DFF 0px 0px 20px;
}

.navlogo {
  cursor: pointer;
}

nav ul {
  float: right;
  margin-right: 20px;
  line-height: 120px;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
}

nav ul li a {
  font-size: 20px;
}

a.current {
  transition: .3s;
  text-shadow: black 0px 0px 15px;
}

nav ul li a {
  transition: .3s;
  color: white;
  text-shadow: white 0px 0px 15px;
}

a:hover {
  transition: .3s;
  color: #c7c7c7;
  text-shadow: white 0px 0px 25px;
}

.checkbtn {
  float: right;
  margin-right: 40px;
  line-height: 160px;
  height: 50px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 670px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 500px) {

  .navlogo {
    height: 60px;
    margin-top: 25px;
  }
}

.intro {
  background-image: url(images/Background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%;
  min-width: 100%;
}

.introhd,
.introdc {
  color: white;
  text-shadow: black 0px 0px 15px;
}

.introdc {
  padding: 10%;
  font-size: 18px;
}

.introdc p {
  margin: 30px auto;
  font-size: 20px;
}

a.btn {
  background-color: #a399ff;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-color: #897DFF;
  border-radius: 5px;
  border-style: solid;
  font-size: 18px;
  cursor: pointer;
  font-family: "fontt", sans-serif;
}

a.btn {
  transition: .2s;
  box-shadow: black 0px 0px 6px;
}

a.btn:hover {
  transition: .2s;
  box-shadow: black 0px 0px 2px;
}

p.btnp {
  padding: 3%;
}

a {
  transition: .2s;
  color: white;
  text-shadow: black 0px 0px 20px;
}

a:hover {
  transition: .2s;
  color: #c7c7c7;
  text-shadow: black 0px 0px 15px;
}

a.pgdown {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  border: 2px #9a8fff;
  font-family: "fontt", sans-serif;
}

a:hover {
  transition: .3s;
  color: #c7c7c7;

}

.info {
  padding: 5%;
}

.info p {
  margin: 25px auto;
  font-size: 20px;
}

.more {
  background-image: url(images/Background2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
  min-width: 100%;
}

.moreinf h1,
.moreinf p {
  margin: 30px 50px;
  color: white;
  text-shadow: black 0px 0px 20px;
}

.moreinf p {
  font-size: 22px;
}

.moreinf img {
  width: 300px;
  border: white solid 15px;
  display: inline-block;
}

.moreright {
  transform: rotate(3deg);
}

.moreleft {
  transform: rotate(-3deg);
}

.upperf {
  background-color: #897DFF;
  width: 100%;
  padding: 2%;
}

.upperf img {
  cursor: pointer;
  margin: auto 5px;
}

.downf {
  background-color: #292929;
  width: 100%;
  padding: 3%;
}

.downf p {
  color: white;
}

.dl,
.dscpg,
.characters {
  padding: 5%;
  color: white;
  text-shadow: black 0px 0px 15px;
}

.dl p,
.dscpg p  {
  margin: 20px auto;
  font-size: 20px;
}

.dl p a {
  margin: 10px;
  display: inline-block;
}

.table {
  width: 100%;
}
.table,
.characterstable {
  background-color: #a399ff;
  border-color: #897DFF;
  border-radius: 15px;
  border-style: solid;
  font-size: 20px;
  height: auto;
}

.characteroutline {
  border-color: #897DFF;
  border-radius: 12px;
  border-style: solid;
  font-size: 20px;
  height: auto;
  width: auto;
}

.characteroutline:hover {
  transition: .3s;
  background-color: #9289e6;
  color: white;
  text-shadow: black 0px 0px 15px;
  cursor:pointer;
}

.characteroutline img {
  transition: .3s;
  opacity: 1;
}

.characteroutline img:hover {
  transition: .3s;
  opacity: .8;
  cursor: pointer;
}

.characteroutline p:hover {
  cursor:pointer;
}

.characteroutline {
  transition: .3s;
  background-color: #a399ff;
  color: transparent;
  text-shadow: transparent 0px 0px 0px;
}

.characteroutline {
  display: inline-block;
  align-self: left;
  margin: 5px;
}

.table p {
  padding: 0.1%;
}

.table li,
.characterstable li{
  text-align: left;
  margin: 20px 15px;
}

.characters img {
  height: 300px;
}

.characters p {
  margin: 20px auto;
  font-size: 21px;
}

.characterstables {
  width: 100%;
  margin: 10px;
}

.characterstable {
  width: 100px;
  display: inline-block;
  margin: 5px 2px;
}

.characterstable p {
  font-size: 20px;
}

hr {
  padding: 2px;
  background-color: #897DFF;
  border-radius: 0px;
  border-width: 0px;
  border-color: #897DFF;
}

hr.separator {
  padding: 0.2%;
  border-radius: 5px;
}

.characterlist {
  display: inline-block;
}


@media (max-width: 585px) {
  .checkbtn {
    display: inline-block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: 34vh;
    background: #9a8fff;
    top: 120px;
    left: -100%;
    text-align: center;
    transition: all .4s;
  }

  nav ul li {
    display: block;
    line-height: 30px;
  }

  #check:checked~ul {
    left: 0;
  }

  .characteroutline {
    color: white;
    text-shadow: black 0px 0px 15px;
  }
}